body{
    display: flex;
    flex-direction: column;
}

#header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    min-width: 680px;
}

#header #h1-wrap{

}

#container{
    width: 100%;
    flex-grow: 1;
    display: flex;
    min-width: 680px;
    min-height: 600px;

}

#container .nav{
    width: 170px;
    background-color: #ccc;
}

/* 사이드바 관련 태그 */
.nav ul {
    list-style-type: none;
    background-color: #ccc;
    padding: 0;
    margin:  0;
}

.nav li a.menu {
    background-color: tomato;
    color: #fff;
}

.nav li a {
    text-decoration: none;
    display: block;
    color: #000;
    padding: 8px 15px 8px 15px;
    font-weight: bold;
}

/* hover 되어도 커서 변경 없이 */
.nav li a:hover:not(.menu-title) {
    background-color: #333;
    color: #fff;
}

.nav li a.menu-title {
    cursor: default;
}

#container #content{
    /* 나머지 영역을 전부 채움 */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
}

#footer{
    width: 100%;
    height: 150px;
    min-width: 680px;
}

/* 목록화면에 관련 css */
#content .home{
    height: 30px;
    padding: 20px;
}

.table tr{
    padding-top: 15px;
    height: 25px;
}

/* 페이지 번호 관련 css */
.pagination-wrap{
    padding-top: 20px;
}

.pagination {
    list-style: none;
}

.pagination li {
    float: left;
    margin-rigin: 20px;
    width: 20px;
    padding: 10px;
}

.pagination li a{
    width: 20px;
}

/* 버튼 관련 css */
.button-wrap{
    height: 30px;
    padding-top: 20px;
}

/* 버튼색 일단 보류 ...... */
/*.btn-default{
    background-color: yellow;
}

.btn-danger{
    background-color: palegreen;
}*/

.reg-btn-wrap{
    width:400px;
}

.reg-btn-div{
    float: right;
    width: 10%;
}

/* form-wrap 관련 설정 아래쪽 margin 추가 */
.form-wrap {
    margin-bottom: 50px;
    border: black 1px solid;
    padding: 10px;
}

.form-row{
    margin-bottom: 20px;
}
